p{
  color: red;
}
div{
 margin-left: 15px;
}
input{
  border: 70px;
}
.product-card{
  max-width: 125px;
  border: 1px solid black;
  border-radius: 15%;
  padding: 10px 10px;
}
.product-card>img{
  max-width: 125px;
}